<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
    {{range .}}
        <section>
            <h2>Galvanize WDI {{.AcaYear}}</h2>
            <h3>Galvanize WDI {{.Fall.Term}}</h3>
            <ul>
            {{range .Fall.Courses}}
                <li>{{.Number}} - {{.Name}} - {{.Units}}</li>
            {{end}}
            </ul>
            <h3>Galvanize WDI {{.Spring.Term}}</h3>
            <ul>
            {{range .Fall.Courses}}
                <li>{{.Number}} - {{.Name}} - {{.Units}}</li>
            {{end}}
            </ul>
        </section>
    {{end}}
    </main>
</body>
</html>